<!DOCTYPE html>
<html data-ng-app='app'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pyhton">

    <title>Python</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="icon" href="static/favicon.png" />
    <link rel="stylesheet" type="text/css" href="static/vendor/css/style.css" />
    <link rel="stylesheet" type="text/css" href="static/vendor/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="static/vendor/css/toastr.min.css"/>
</head>

<body data-ng-controller="MainController as chat">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-plus fa-2x"></span>
                </button>
                <a class="navbar-brand" href="#">Conmigo</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a data-ng-if="chat.rtc.username == ''" id="username">Anonymous</a>
                        <a data-ng-if="chat.rtc.username != ''" id="username"><% chat.rtc.username %></a>
                    </li>
                    <li class="dropdown" data-ng-init="chat.getRooms()" data-ng-click="chat.getRooms()">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Classrooms<b class="caret"></b></a>
                        <ul id="roomsMenu" class="dropdown-menu">
                            <li class="column-dropdown" data-ng-repeat="room in chat.rooms">
                              <a data-ng-if="room != 'Lobby'" class="chat.joinRoom" data-room="<% room %>" data-ng-click="chat.joinRoom(room)"><% room %></a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown" data-ng-init="chat.getUsers(room)" data-ng-click="chat.getUsers(currentRoom)">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Users in Classrooms<b class="caret"></b></a>
                        <ul id="usersMenu" class="dropdown-menu">
                            <li class="column-dropdown" data-ng-repeat="user in chat.users[chat.currentRoom]">
                                <a data-ng-if="user != chat.rtc.username"><% user %></a>
                            </li>
                        </ul>
                    </li>

                    <li class="createroom">
                      <div class="recherche" id="search">
                        <input placeholder="Create room" id="createRoom" class="form-control searchbar">
                        <button class="btn btn-default searchbtn fa fa-plus-circle" id="submitRoom" type="submit"></button>
                      </div>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <span id="room_icon" class="fa fa-street-view" style="display:none"></span>
                        <a data-ng-if="chat.currentRoom == ''" id="room_name">Lobby</a>
                        <a data-ng-if="chat.currentRoom != ''" id="room_name"><% chat.currentRoom %></a>
                    </li>

                    <li class="">
                        <span id="connection_icon" class="fa fa-circle offline" style="display:none"></span>
                        <a id="connection_status"><% connectionStatus %></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" data-ng-controller="LogController">

      <div class="col-md-6">
        TEMPORARY EMPTY SPACE. WORKING  ON IT:) 1
        SOME SCOREBOARD....
      </div>

        <div class="video-wrapper">
          <div class="col-md-6">
            <!-- <h2 style="float: right">This is your camera!</h2> -->
            <video id="localVideo" style="float:right;max-width:50%;border: solid 3px #90CA0A;" autoplay muted></video>
          </div>

          <div class="col-md-6"></div>

          <div class="col-md-6">
            <video-player data-ng-repeat="peer in chat.peers[chat.currentRoom]">
              <video autoplay style="float:right;max-width:50%;" id="<% peer.username %>" data-ng-src="<% chat.getVideo(peer.stream) %>"></video>
          </video-player>
          </div>
        </div>


        <div class="col-md-12">
          <!-- <button type="button" class="btn btn-info">Listen</button>
          <button type="button" class="btn btn-info">Info</button>

          <article class="clip">
            <audio controls></audio>
            <p>your clip name</p>
            <button>Delete</button>
          </article> -->


            <section class="main-controls">
              <!-- <canvas class="visualizer" height="60px"></canvas> -->
              <div id="buttons">
                <button class="record">Record</button>
                <button class="stop">Stop</button>
              </div>
            </section>

            <section class="sound-clips">
            </section>

          </div>
        </div>

        <script>
          var record = document.querySelector('.record');
          var stop = document.querySelector('.stop');
          var soundClips = document.querySelector('.sound-clips');

          if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
             console.log('getUserMedia supported.');

             // constraints - only audio needed for this app
             navigator.mediaDevices.getUserMedia ({ audio: true })
                // Success callback
                .then(function(stream) {
                  var mediaRecorder = new MediaRecorder(stream);

                record.onclick = function() {
                  mediaRecorder.start();
                  console.log(mediaRecorder.state);
                  console.log("recorder started");
                  record.style.background = "red";
                  record.style.color = "black";
                }

                var chunks = [];

                mediaRecorder.ondataavailable = function(e) {
                  chunks.push(e.data);
                }

                stop.onclick = function() {
                  mediaRecorder.stop();
                  console.log(mediaRecorder.state);
                  console.log("recorder stopped");
                  record.style.background = "";
                  record.style.color = "";
                }


                mediaRecorder.onstop = function(e) {
                console.log("recorder stopped");

                var clipName = prompt('Enter a name for your sound clip');

                var clipContainer = document.createElement('article');
                var clipLabel = document.createElement('p');
                var audio = document.createElement('audio');
                var deleteButton = document.createElement('button');

                clipContainer.classList.add('clip');
                audio.setAttribute('controls', '');
                deleteButton.innerHTML = "Delete";
                clipLabel.innerHTML = clipName;

                clipContainer.appendChild(audio);
                clipContainer.appendChild(clipLabel);
                clipContainer.appendChild(deleteButton);
                soundClips.appendChild(clipContainer);

                var blob = new Blob(chunks, { 'type' : 'audio/ogg; codecs=opus' });
                chunks = [];
                var audioURL = window.URL.createObjectURL(blob);

                var form = new FormData();
                form.append('file', blob, clipName);
                form.append('title', "hi");
                $.ajax({
                  type: 'POST',
                  url: '/speech',
                  data: form,
                  cache: false,
                  processData: false,
                  contentType: false
                }).done(function(data) {
                  console.log(data);
                });


                audio.src = audioURL;

                deleteButton.onclick = function(e) {
                  var evtTgt = e.target;
                  evtTgt.parentNode.parentNode.removeChild(evtTgt.parentNode);
                }
              }
                })
                // Error callback
                .catch(function(err) {
                   console.log('The following gUM error occured: ' + err);
                }
             );
          } else {
             console.log('getUserMedia not supported on your browser!');
          }
        </script>


    </div>

    <script>
      var p = navigator.mediaDevices.getUserMedia({ audio: true, video: true });
      p.then(function(mediaStream) {
        var video = document.querySelector('video');
        video.src = window.URL.createObjectURL(mediaStream);
        video.onloadedmetadata = function(e) {
      // Do something with the video here.
          video.play();

        };
      });
      p.catch(function(err) { console.log(err.name); });
    </script>


    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#messages-modal">
      Messages :)
    </button> -->

    <!-- Modal -->
    <div class="modal fade" id="messages-modal" tabindex="-1" role="dialog" aria-labelledby="qweqwe">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <div class="modal-body">

            <div id="messages">
              <div data-ng-if="chat.messages[chat.currentRoom]" class="messages" data-ng-repeat="msg in chat.messages[chat.currentRoom]">
                <span style="font-size: 0.8em!important" class="text-muted"><i class="fa fa-clock-o"></i>&nbsp;<% msg.time %></span>&nbsp;
                <span data-ng-if="!msg.type" style="color: #90CA0A!important" class="chat-user"><b><% msg.username %></b></span>
                <span data-ng-if="!msg.type" class="message-inner"><% msg.content %></span>
                <span data-ng-if="msg.type" class="message-inner info"><% msg.content %></span>
              </div>
            </div>

            <!-- CHAT INPUT TEXT AREA -->
            <div style="">
              <div id="buffer">
                  <textarea class="form-control" id="buffer_input"></textarea>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Welcome to Conmigo</h4>
          </div>
          <div class="modal-body">
            <div>
              <form data-ng-submit="chat.login()">
                <input autofocus data-ng-model="chat.rtc.username" id="login" type="text" class="form-control" placeholder="Set your nickname" />
                <br>
                <span class="input-group-btn">
                <button class="btn btn-primary btn-sm" id="btn-chat">Start learning!</button>
                </span>
              </form>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript" src="static/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/vendor/toastr.min.js"></script>
    <script type="text/javascript" src="static/js/adapter.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script type="text/javascript" src="static/js/controllers/MainCtrl.js"></script>
    <script type="text/javascript" src="static/js/services/RoomService.js"></script>
    <script type="text/javascript" src="static/js/chat.js"></script>
</body>
</html>
